<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Http Streaming Response</title>
    </head>
    <body>
        <div id="output"></div>
    </body>

    <script>
    const outputDiv = document.getElementById("output");
    async function  stream() {
        const response = await fetch("/stream/");

        if (response.ok) {
            const reader = response.body.getReader();

            while (true) {
                const { done, value } = await reader.read();

                if (done) {
                    break;
                }
                outputDiv.innerHTML += new TextDecoder().decode(value);
            }
        } else {
            console.error("Failed to fetch data");
        }
    }
    stream()

</script>
</html>